<!doctype html>
<html lang="en" id="{{ htmlID }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="robots" content="noindex">
  <title>DISSCUZIONS</title>
  <link rel="stylesheet" href="{{ '/css/fffforum.css' | url }}">
  <script src="https://kit.fontawesome.com/4573453903.js" crossorigin="anonymous"></script>
  {% block header_content %}
  {% endblock %}
</head>
<body>

  <aside>
    <a href="#"><i class="fa-solid fa-bell"></i></a>
    <a href="#"><img src="https://ca.slack-edge.com/T02UYK6DLNB-U04JXQE292Q-5a8c733e9344-512" alt="" class="avatar"></a>
  </aside>

  {% block content %}
  {% endblock %}

</body>
</html>
