<!doctype html>
<html lang="en" id="{{ htmlID }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="robots" content="noindex">
  <title>Team Presence App Test</title>
  <link rel="stylesheet" href="{{ '/css/presence.css' | url }}">
  <script src="https://kit.fontawesome.com/4573453903.js" crossorigin="anonymous"></script>
  {% block header_content %}
  {% endblock %}
</head>
<body>

  {% block content %}
  {% endblock %}

</body>
</html>
