:root {
  --color-txt: #222;
  --color-txt-light: #888;
  --color-primary: blue;
  --color-border: #ccc;

  --color-bg-app: #f8f2ec;
  --color-bg-main: #fff;

  --font-family: system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  // :root {
  //   --color-txt: #eee;
  //   --color-txt-light: #aaa;
  //   --color-border: #333;

  //   --color-bg-app: #1d1e20;
  //   --color-bg-main: #2f2f33;
  // }
  html {
    -webkit-font-smoothing: antialiased;
  }
}



// Base
*, *:before, *:after {
  box-sizing: border-box;
  overflow-wrap: break-word;
}
html {
  background: var(--color-bg-app);
  font-size: 100%;
  height: 100%;
  overflow: auto;
}
body {
  color: var(--color-txt);
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5;
  margin: auto;
  min-height: 100%;
  padding: 0;
}
a {
  color: inherit;
  display: inline-block;
  text-underline-offset: 2px;
  &:active {
    transform: translateY(1px);
  }
}
h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1;
  margin: 0 0 0.5em;
}
h2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}



// Components
.button {
  background-color: var(--color-txt);
  border: 1px solid var(--color-txt);
  border-radius: 0.5em;
  color: var(--color-bg-main);
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1;
  padding: 0.8em 1em;
  text-align: center;
  text-decoration: none;
  &.secondary {
    background-color: var(--color-bg-main);
    border-color: var(--color-txt-light);
    color: var(--color-txt);
    font-weight: 400;
    width: auto;
  }
  &:active {
    transform: translateY(1px);
  }
}
input[type="text"] {
  border: 1px solid var(--color-txt-light);
  border-radius: 0.5em;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  padding: 0.8em 1em;
  width: 100%;
}



// Layout
.outer-wrapper {
  display: grid;
  height: 100vh;
  @media (min-width: 800px) {
    grid-template-columns: 400px 1fr;
  }
}
.form-wrapper {
  background-color: var(--color-bg-main);
  padding: 2em;
  @media (min-width: 800px) {
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  }
}
.preview-wrapper {
  padding: 1em;
}



// Form
form {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-inline: auto;
  max-width: 500px;
  .field {
    margin-block: auto;
  }
  .submit {
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
  }
  small {
    color: var(--color-txt-light);
    margin-top: 2em;
  }
}



// Preview
.preview-wrapper small {
  color: var(--color-txt-light);
  display: block;
  margin-bottom: 2em;
  text-align: center;
}



// Utilities
[hidden] {
  display: none;
}
@media (max-width: 799px) {
  .hidden-on-mobile {
    display: none !important;
  }
}
@media (min-width: 800px) {
  .hidden-on-desktop {
    display: none !important;
  }
}
