---
htmlID: post
---
{% extends 'fffforum.njk' %}

{% block content %}
  <main>
    <section class="discussion">
      <div class="meta">
        <span><i class="fa-solid fa-thumbtack"></i> Pinned</span>
        <span><i class="fa-solid fa-comment"></i> 231</span>
        <a href="{{ '/' | url }}"><i class="fa-solid fa-hashtag"></i> Category</a>
        <a href="#" style="margin-left: auto"><i class="fa-solid fa-ellipsis"></i></a>
      </div>

      <div>
        <h1>Show your desk!</h1>
        <p>
          First post
        </p>
      </div>
    </section>
  </main>
{% endblock %}
